<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- THe curly brace elements are JINJA tags -->
    <!-- https://palletprojects.com/p/jinja -->
    {% if title %}
    <title>{{ title }} - Microblog</title>
    {% else %}
    <title>Welcome to my Microblog!</title>
    {% endif %}
</head>
<body>
  <div>Microblog:
        <a href=" {{ url_for('index') }}">Home</a>
        <a href=" {{ url_for('login') }}">Login</a>
  </div>
    <hr>
    {% block content %}

    {% endblock %}
</body>
</html>